@font-face {
  font-family: 'Glass';
  src: url('../fonts/Glass_TTY_VT220.eot');
  src: url('../fonts/Glass_TTY_VT220.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Glass_TTY_VT220.woff') format('woff'),
    url('../fonts/Glass_TTY_VT220.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0px;
}

body {
  background: #000;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

h2 {
  text-align: center;
  font-size: 17pt;
}

a {
  color: #000;
  font-size: inherit;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.red-white {
  background-color: #fff;
  color: #f00;
}

.white-red {
  background-color: #f00;
  color: #fff;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.red-yellow {
  background-color: #ff0;
  color: #f00;
  font-size: 17pt;
}

img {
	width: 320px;
}

a {
	z-index: 1;
}

p {
  color: #00f;
  font-family: "Times New Roman", Times, serif;
  font-size: 46pt;
  margin: 0px 40px 0px 40px;
}

.drag {
	position: absolute;
}

#photos {
  display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
  z-index:99999;
}

#close {
	font-size: 140px;
  color: #f00;
	cursor: pointer;
  display: none;
	position: absolute;
	top: 5px;
	right: 20px;
	z-index: 99999999;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

.terminal {
  font-family: 'Glass' !important;
  color: #fff !important;
}

.header {
  color: #00FF00;
}

