* {
  margin: 0px;
}

body {
  background: #000;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  width: 100%;
  font-size: 28px;
  min-height: 100%;
  overflow: hidden;
}

table {
  display: none;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

h2, h3 {
  font-weight: normal;
}

a {
  color: #fff;
  font-size: 24px;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

a:active {
  color: #fff;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.container {
  position: absolute;
  height: 100%;
}

.container .content {
  padding-left: 80px;
  padding-right: 80px;
  overflow-y: scroll;
  height: 100%;
}

.container .content .header {
  margin-bottom: 40px;
}

.main {
  margin: 60px;
}

.menu {
  background: #fff;
  color: #000;
  position: absolute;
  top: 0px;
  width: 320px;
  height: 100%;
  z-index: 1;
}

.menu ul {
  margin-bottom: 40px;
}

.menu a, .menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  color: #000;
}

.menu.left {
  left: -280px;
  transition: left 0.25s ease-in;
}

.menu.right {
  right: -280px;
  transition: right 0.25s ease-in;
}

.menu.left.showing {
  left: 0px;
  transition: left 0.25s ease-in;
}

.menu.right.showing {
  right: 0px;
  transition: right 0.25s ease-in;
}

.menu p {
  padding-left: 40px;
  margin-right: 40px;
}

.menu .list {
  overflow-y: scroll;
  height: 100%;
  width: 280px;
}

.menu .list .item {
  margin-bottom: 40px;
}

.vertical-text {
  width:200px;
  position:relative;
  text-align: center;
  overflow: visible;
  text-transform: uppercase;
  top: 50%;
  white-space: nowrap;
  font-size: 28px;
}

.vertical-text.left {
  transform: rotate(-90deg);
  position: absolute;
  right: -80px;
}

.vertical-text.right {
  transform: rotate(90deg) translate(-50px, 0px);
  position: absolute;
  left: -80px;
}

.date {
  font-size: 19px;
}

