* {
  margin: 0px;
}

body {
  background: #000;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  overflow: hidden;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 17pt;
}

a {
  font-size: 24px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.content {

}

.main {
  margin: 60px;
}

.menu {
  background: #fff;
  color: #000;
  position: absolute;
  top: 0px;
  width: 320px;
  overflow: hidden;
  height: 100%;
  overflow: scroll;
}

.menu.left {
  left: -280px;
  transition: left 0.25s ease-in;
}

.menu.right {
  right: -280px;
  transition: right 0.25s ease-in;
}

.menu.left.showing {
  left: 0px;
  transition: left 0.25s ease-in;
}

.menu.right.showing {
  right: 0px;
  transition: right 0.25s ease-in;
}

.menu p {
  padding: 40px;
}
