<div class="container-fluid">
  <div class="row">
  <!-- Sidebar Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top col-sm-5 terminal">
      <div class="row">
        <a class="menu" ng-click="sideNavToggle=!sideNavToggle" style="color:#fff"><h3 style="display:inline-block;white-space: nowrap;text-align:left;padding-left:20px;">&gt; H&ampD:{{ homepage.title }}$ <span class="ls"><span class="blink">_ </span></span></h3></a>
      </div>
      <div class="row">
        <ul class="sidebar-nav" ng-show="sideNavToggle" ng-controller="categoryCtrl">
          <a ng-repeat="item in items" ng-click="sideNavToggle=!sideNavToggle;" ng-href="#/page/{{item.pageid}}"><li class="cd">{{item.title}}</li></a>
          <a ng-click="picsToggle=!picsToggle; sideNavToggle=!sideNavToggle"><li class="run">Photos</li></a> 
        </ul>
      </div>
    </nav>
  <!-- End Sidebar Navigation -->

  <!-- Page Content -->
    <div id="page-content-wrapper" class="col-md-12">
      <div class="container-fluid">
        <div class="row">
          <div class="container-fluid">
            <p change-url ng-bind-html="homepage.content | unsafe"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="PhotosCtrl">
  <div ng-show="picsToggle">
    <li ng-repeat="photo in photos">
      <img ng-src="images/{{photo}}" ng-draggable class="drag">
    </li>
    <a class="closer" ng-click="picsToggle=!picsToggle">X</a>
  </div>
</div>

<!-- This is the oldschool photos and stuff - JBG -->
