<md-content layout="column" flex>
    <md-content layout="row" layout-padding layout-align="start center">
        <h1 flex>Hackers&<br>Designers</h1>
        <ul flex layout="column" class="navigation">
            <a href="#"><li flex>about</li></a>
            <a href="#"><li flex>contact</li></a>
            <a href="#"><li flex>newsletter</li></a>
        </ul>
    </md-content>

    <md-content layout="row" layout-padding>
        <md-input-container class="md-icon-float">
            <label>search</label>
            <md-icon class="material-icons">search</md-icon>
            <input type="text">
        </md-input-container>
    </md-content>
    <md-content>
        <md-list> <!-- repeat for every year-->
            <md-subheader>next</md-subheader>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-subheader>2015</md-subheader>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-subheader>2014</md-subheader>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
            <md-list-item layout="row">
                <span>date</span><span>title of meetup bla bla bla bla bla</span>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>