<md-content layout="column" flex>

    <md-content layout="row" layout-margin layout-align="start center">
        <h1 flex>summer<br>academy</h1>
        <ul flex layout="column" class="navigation">
            <a href="#"><li flex>about</li></a>
            <a href="#"><li flex>apply</li></a>
            <a href="#"><li flex>newsletter</li></a>
        </ul>
    </md-content>

    <md-content layout-margin>
        <md-input-container class="md-icon-float">
            <label>search</label>
            <md-icon class="material-icons">search</md-icon>
            <input type="text">
        </md-input-container>
    </md-content>
    <md-content>
        <md-list> <!-- repeat for every year-->
            <md-subheader>2016</md-subheader>
            <md-list-item layout="row">
                <span>To be announced</span>
            </md-list-item>
            <md-subheader>2015</md-subheader>
            <md-list-item layout="row">
                <span>About bugs, bots & bytes</span>
            </md-list-item>
            <md-subheader>2014</md-subheader>
            <md-list-item layout="row">
                <span>Back to the Future</span>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>