<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Hackers & Designers</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.layouts.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="myApp" layout="row" layout-fill ng-controller="AppCtrl as vm" ng-cloak >
  <md-sidenav flex sidenav-push-in class="site-sidenav md-sidenav-left md-sidenav-color" md-component-id="left" md-is-open="false" layout="row">
    <md-content layout="column" flex ng-controller="LeftCtrl as meetups">
        <div layout="row" layout-padding layout-align="start center">
          <h1 flex layout-padding>Hackers&<br />Designers</h1>
          <ul flex layout="column" class="navigation" layout-padding>
            <a href="#/"><li flex>about</li></a>
            <a href="mailto:info@hackersanddesigners.com"><li flex>contact</li></a>
            <a href="#/"><li flex>newsletter</li></a>
          </ul>
        </div>

        <div layout-margin layout-align="start center">
            <md-input-container class="md-icon-float">
                <label>search</label>
                <md-icon class="material-icons">search</md-icon>
                <input type="text" >
            </md-input-container>
        </div>
        <md-content flex>
          <md-list ng-repeat="item in meetups.stuff"> <!-- repeat for every year-->
              <a ng-href="#/{{item.fulltext}}"><md-list-item layout="row">
                  <span style="padding-right:10px;">{{item.printouts.OnDate*1000}}</span><p>{{item.fulltext}}</p>
              </md-list-item></a>
          </md-list>
        </md-content>
    </md-content>
  </md-sidenav>

  <div flex="" layout="row" class="md-sidenav-push-in-target">
    <div id="toggle-left" class="toggle md-sidenav-color" ng-click="toggleLeft()">
      <div class="vertical-text">meet-ups</div>
    </div>

    <md-content flex layout-padding class="main-content-color">
      <div ng-view></div>
    </md-content>
    <div id="toggle-right" class="toggle md-sidenav-color" ng-click="toggleRight()">
      <div class="vertical-text">summer academy</div>
    </div>
  </div>

  <md-sidenav flex sidenav-push-in class="site-sidenav md-sidenav-right md-sidenav-color" md-component-id="right" md-is-open="false" layout="row">
      <md-content layout="column" flex>
        <div layout="row" layout-padding layout-align="start center">
            <h1 flex layout-padding>summer<br />academy</h1>
            <ul flex layout="column" class="navigation" layout-padding>
                <a href="#/"><li flex>about</li></a>
                <a href="#/"><li flex>apply</li></a>
                <a href="#/"><li flex>newsletter</li></a>
            </ul>
        </div>
        <div layout-margin>
            <md-input-container class="md-icon-float">
                <label>search</label>
                <md-icon class="material-icons">search</md-icon>
                <input type="text">
            </md-input-container>
        </div>
        <md-content>
          <md-list> <!-- repeat for every year-->
              <md-subheader>2016</md-subheader>
              <a href="#/HDSA_2016"><md-list-item layout="row">
                  <span>To be announced</span>
              </md-list-item></a>
              <md-subheader>2015</md-subheader>
              <a  href="#/HDSA_2015"><md-list-item layout="row">
                  <span>About bugs, bots & bytes</span>
              </md-list-item></a>
          </md-list>
        </md-content>
      </md-content>
  </md-sidenav>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.js"></script>
  <script type="text/javascript" src="app.js"></script>

  </body>
</html>
