<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Hackers & Designers</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="myApp" layout="row" layout-fill ng-controller="AppCtrl as vm" ng-cloak >

  <md-sidenav flex sidenav-push-in class="site-sidenav md-sidenav-left md-sidenav-color" md-component-id="left" md-is-open="false" layout="row">
        <div ui-view="sidenavLeft"></div>
  </md-sidenav>

    <div flex="" layout="row" class="md-sidenav-push-in-target">
        <div id="toggle-left" class="toggle md-sidenav-color" ng-click="toggleLeft()">
            <div class="vertical-text">meet-ups</div>
        </div>

        <md-content flex layout-padding="" class="main-content-color">
            <div ui-view="mainView"></div>
        </md-content>
        <div id="toggle-right" class="toggle md-sidenav-color" ng-click="toggleRight()">
            <div class="vertical-text">summer academy</div>
        </div>

    </div>


  <md-sidenav flex sidenav-push-in class="site-sidenav md-sidenav-right md-sidenav-color" md-component-id="right" md-is-open="false" layout="row">
      <div ui-view="sidenavRight"></div>
  </md-sidenav>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
  <script src="./src/components/directives/directives.js"></script>

    <!--<script src="./src/users/Users.js"></script>-->
    <!--<script src="./src/users/UserController.js"></script>-->
    <!--<script src="./src/users/UserService.js"></script>-->

    <script type="text/javascript">
        var myApp =  angular.module('myApp', ['ngMaterial', 'ui.router', 'wikiDirectives', 'ngSanitize']);

        myApp.value('wikiUrl', 'http://wiki.hackersanddesigners.nl/mediawiki/api.php')
              .config(function($mdThemingProvider, $stateProvider, $urlRouterProvider){

                  $mdThemingProvider.theme('default')
                      .primaryPalette('brown')
                      .accentPalette('red');
                  $urlRouterProvider.otherwise("/");
                  $stateProvider
                          .state('index', {
                              url: '/',
                              controller: 'AppCtrl',
                              views: {
                                  'mainView': {
                                      templateUrl: 'src/components/Page/homepage.html',
                                      controller: 'mainCtrl'
                                  },
                                  'sidenavLeft': {
                                      templateUrl: 'src/components/SidebarLeft/sidenavleft.html',
                                      controller: 'LeftCtrl'
                                  },
                                  'sidenavRight': {
                                      templateUrl: 'src/components/SidebarRight/sidenavright.html',
                                      controller: 'RightCtrl'
                                  }
                              }
                          })
                  });

              myApp.controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $mdUtil, $log) {

                  $scope.toggleLeft = buildToggler('left');
                  $scope.toggleRight = buildToggler('right');

                  /**
                   * Build handler to open/close a SideNav; when animation finishes
                   * report completion in console
                   */
                  function buildToggler(navID) {
                      var debounceFn =  $mdUtil.debounce(function(){
                          $mdSidenav(navID)
                                  .toggle()
                                  .then(function () {
                                      $log.debug("toggle " + navID + " is done");
                                  });
                      },200);

                      return debounceFn;
                  }

              })
              .filter('unsafe', function($sce) {
                      return function(val) {
                          return $sce.trustAsHtml(val);
                      };
                  })
              .service('Utils', function() {
                      var self = this;
                      this.cleanLinks = function(html) {
                          var el = angular.element(html.text);
                          var links = el.find('a');
                          for(var i = 0; i < links.length; i++) {
                            var link = links['' + i];
                            var linkEl = angular.element(link);
                            var href = linkEl.attr('href');
                              var hrefNew = 'http://wiki.hackersanddesigners.nl' + href;
                              replace(href, hrefNew);
                            //if(href.indexOf('mediawiki') != -1) {
                            //  var paths = href.split('/');
                            //  var last = paths[paths.length - 1];

                              // TODO : go to page with this title (Search wiki). . .blah - JBG

                            }
                          };
                      this.cleanImages = function(html) {
                          var el = angular.element(html.text);
                          var img = el.find('img');
                          for(var i = 0; i < img.length; i++) {
                            var img = img['' + i];
                            var imgEl = angular.element(img);
                            var src = imgEl.attr('src');
                            var srcUrl = 'http://wiki.hackersanddesigners.nl' + src;
                            console.log(srcUrl);
                            imgEl.attr('src', srcUrl);

                            /*
                            if(href.indexOf('mediawiki') != -1) {
                              var paths = href.split('/');
                              var last = paths[paths.length - 1];

                              // TODO : go to page with this title (Search wiki). . .blah - JBG

                            }
                            */
                        }
                    };
                })
                    .service('Page', function(wikiUrl, $http) {
                        var self = this;
                        this.fetch = function(pageId, callback) {
                            $http.get(wikiUrl+'?action=parse&page=' + pageId + '&format=json').then(function(res) {
                                var obj = res.data;
                                html = {
                                    'date' : 'DD.MM',
                                    'title' : obj.parse.title,
                                    'text' : obj.parse.text['*']
                                };
                                callback(html);
                            });
                        };
                    });

    </script>
  <script src="./src/components/Page/main-controller.js"></script>
  <script src="./src/components/SidebarLeft/sideleft-controller.js"></script>
  <script src="./src/components/SidebarRight/sideright-controller.js"></script>

  </body>
</html>
